.hidden {
    visibility: 'hidden';
    height: 0px;
    opacity: 0;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    transition: opacity .5s ease-in;
    z-index: 1;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: navy;
    text-align: center;
}

.nav li {
    display: inline-block;
}

.nav li a {
    display: block;
    padding: 20px 14px;
    text-decoration: none;
    color: white;
}

.nav li a:hover {
    background-color: lightblue;
}