header {
    position: fixed;
    width: 100%;
    transform: 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: navy;
    text-align: center;
}

li {
    display: inline-block;
}

li a {
    display: block;
    padding: 20px 14px;
    text-decoration: none;
    color: white;
}

li a:hover {
    background-color: lightblue;
}